@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Extrabold';
    src: url('../fonts/Roboto-Black.ttf');
}